.video {
    width: 100%;
    height: auto;
    display: block;
    transition: opacity 3s ease; /* Transición suave para la propiedad de opacidad */
    
  }
  
  .video-container:hover .video {
    opacity: 0.1; /* Cambiar la opacidad cuando se hace hover */
  }
  

  .content {
    position: relative;
    width: 100%;
    padding: 20px;
    text-align: center;
    color: white;
    background-color: black;
  }
  
  .ache1-container {
    position: relative;
    padding: 10px;
    font-family:'Times New Roman', Times, serif;
    
  }



  .video-container {
    position: relative;
    width: 100%;
    
  }
  
  .text-overlay {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: black;
    
  }
  
  .hover-text {
    margin: 0;
    color: black;
  }
.ache1-container .ache2{
    font-family: 'Courier New', Courier, monospace;
    font-size: larger;
}