.navbar{
    background-color: black;
    z-index: 1;
    
}
.navbar a {
    text-decoration: none; /* Para quitar la subrayado predeterminado */
    padding: 10px 20px; /* Espaciado entre los enlaces */
    margin-right: 10px; /* Espacio entre los enlaces */
    color: rgb(36, 209, 166); /* Color del texto */
  }