* {
  margin: 0;
  padding: 0;
}
.navbar {
  z-index: 1;
}
@keyframes wave {
  0%, 100% {
      transform: translateY(0);
  }
  50% {
      transform: translateY(-10px);
  }
}

.ache1 {
  font-size: 3rem;
  text-align: center;
  margin-top: 50px;
  position: relative;
  letter-spacing: -0.05em;
}

.ache1 span {
  display: inline-block;
  animation: wave 3s infinite;
  animation-delay: calc(0.1s * var(--i));
}

.content {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;
}

.video {
  width: 100%;
  height: 100vh;
}

video {
  width: 100%;
  height: 100%;
  object-fit: fill;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0,0,0,.2);
}

.ache1-container {
  position: absolute;
  top: 100px; /* Ajusta la posición desde la parte superior */
  right: 100px; /* Ajusta la posición desde el borde derecho */
  padding: 10px;
  font-family: 'Rouge Script';
  color: white;
}